
<%############################################################%>
<div class="transactions"><%#MIDDLE%>
  <% @wallet%>
Full budget: <%= @wallet_full%> Remaining: <%= @wallet_current%>
<hr/>
  <form method="POST" action="/transactions">

    <label for="description">Description</label>
    <input type="text" name="description" id="description"/>

    <label for="value">Amount</label>
    <input class ="amount-label" type="number" name="value" id="value"/>

    <label for="select-tag">Tag</label>
      <select id="select-tag" name="tag_id">
      <% for tag in @tags%>
        <option value="<%= tag.id  %>"><%= tag.name %></option>
      <%end%>
      </select>

    <input type="submit" value="Add"/>

  </form>
<hr/>
  <% @amount = 0 %>

  <%for transaction in @transactions%>
      <p>Description: <%= transaction.description %> 
      Amount: <%= transaction.value %> 
      <% @amount += transaction.value%>
      <form method="POST" action="/transactions/tags/<%= transaction.tag%>/<%= transaction.tag_id%>">
      <input type="submit" value="<%= transaction.tag %>"/>

      </form></p>
      <form method="POST" action="/transactions/<%=transaction.id%>/delete">
      <input class="delete-button" type="submit" value="X"/>
      </form>
      <hr/>
  <% end%>
  </div><%#MIDDLE%>

<section class="header"><%#header div%>
<%##################SETBUDGET#####################%>
  <div class="setbudget">
        <input type="checkbox" id="toggle-budget">
        <label for="toggle-budget"><section class="budget-toggle">Adjust Budget</section></label>
        <div class="content">
          <p>Your current budget is <%= @wallet_current %></p>
          <p>Your full budget is <%=  @wallet_full%></p>
          Set your Budget:
          <form method="POST" action="/">

            <label for="value">Amount</label>
            <input type="number" name="budget" id="value"/>

            <input type="submit" value="Add"/>
          </form>
        </div>
  </div>
<%##################CREAT TAG#####################%>
  <div class="createtag">
        <input type="checkbox" id="toggle-tag">
        <label for="toggle-tag"><section class="label-toggle">Create Label</section></label>
        <div class="content">
            <%for tag in @tags%>
              <%= tag.name %>
              <form method="POST" action="/tag/<%=tag.id%>/delete">
                <input class="delete-button-tag" type="submit" value="X"/>
              </form>
            <% end%>
              <form method="POST" action="/tag">
                <input type="text" name="name">Tag name</input>
                <input type="submit" value="Add new"/>
              </form>
      </div>
  </div>


  <%##################TITLE#####################%>

    <div id="title-bar">
    <div id ="title">
      Magical Budget App
    </div>
    </div>

  <%##################BUDGET BAR#####################%>

    <div id="budgetbar"><%#budget bar%>
        <div style="
        border-radius: 90px;
        background-color:#aab2a9;
        width:720px;
        height:20px;
        position: absolute; 
        left:15px;
        z-index: 50;
        box-shadow: 0px 0px 12px black;">

      <% @spending_size = 100-((@wallet_current.to_f/@wallet_full)*100) %>

        <% if @spending_size > 100 %>
        <%      @color = "red"%>
        <%      @spending_size = 100%>

        <% else %>
        <%      @color = "#718778"%>
        <% end %>

        <div style="
        border-radius: 90px;
        background-color:<%=@color%>;
        width:<%=@spending_size%>%;
        height:20px;
        box-shadow: 0px 0px 10px green;"/>
        </div>
    </div><%#budget bar%>
</section><%#header div-end%>

    
