<p>Full budget: <%= @wallet%></p>
  <form method="POST" action="/transactions">

  <label for="description">Description</label>
  <input type="text" name="description" id="description"/>

  <label for="value">Amount</label>
  <input type="number" name="value" id="value"/>

  <label for="select-tag">Tag</label>
    <select id="select-tag" name="tag_id">
    <% for tag in @tags%>
      <option value="<%= tag.id  %>"><%= tag.name %></option>
    <%end%>
    </select>

  <input type="submit" value="Add"/>
  </form>
  <% @amount = 0 %>
<%for transaction in @transactions%>
    <p>Description: <%= transaction.description %> 
    Amount: <%= transaction.value %> 
    <% @amount += transaction.value%>
    <form method="POST" action="/transactions/tags/<%= transaction.tag%>/<%= transaction.tag_id%>">
    <input type="submit" value="<%= transaction.tag %>"/>

    </form></p>
    <form method="POST" action="/transactions/<%=transaction.id%>/delete">
    <input type="submit" value="X"/>
    </form>
    <hr/>
<% end%>

<%= @amount %>
<hr/>
<div style="background-color:blue;width:<%@amount%>px;height:20px;"/>
         

<div style="background-color:green;width:<%=@wallet.to_i%>px;height:20px;"/>
<hr/>
                