
<form method="POST" action="/transactions">

  <label for="description">Description</label>
  <input type="text" name="description" id="description"/>

  <label for="value">Amount</label>
  <input type="number" name="value" id="value"/>

  <label for="select-tag">Tag</label>
    <select id="select-tag" name="tag_id">
      
    <% for tag in @tags%>
      <option value="<%= tag.id  %>"><%= tag.name %></option>

      <%end%>

    </select>


  <input type="submit" value="Add"/>




</form>




helo <a href="/transactions/new">Add new transaction</a>

<%for transaction in @transactions%>
<%= transaction.description %>
<%= transaction.value %>
<%= transaction.tag %>

<% end%>