<% @wallet%>
<%= %>

<p>Full budget: <%= @wallet_full%></p>
<p>Remaining: <%= @wallet_current%></p>

  <form method="POST" action="/transactions">

    <label for="description">Description</label>
    <input type="text" name="description" id="description"/>

    <label for="value">Amount</label>
    <input type="number" name="value" id="value"/>

    <label for="select-tag">Tag</label>
      <select id="select-tag" name="tag_id">
      <% for tag in @tags%>
        <option value="<%= tag.id  %>"><%= tag.name %></option>
      <%end%>
      </select>

    <input type="submit" value="Add"/>

  </form>

  <% @amount = 0 %>

<%for transaction in @transactions%>
    <p>Description: <%= transaction.description %> 
    Amount: <%= transaction.value %> 
    <% @amount += transaction.value%>
    <form method="POST" action="/transactions/tags/<%= transaction.tag%>/<%= transaction.tag_id%>">
    <input type="submit" value="<%= transaction.tag %>"/>

    </form></p>
    <form method="POST" action="/transactions/<%=transaction.id%>/delete">
    <input type="submit" value="X"/>
    </form>
    <hr/>
<% end%>

  <p>Spent total: <%= @amount %></p>


    <div style="
    background-color:blue;
    width:250px;
    height:20px;
    position: absolute;
    top: 45px; 
    left: 200px; 
    right: 0; 
    border: 20px;
    z-index: 50;
    box-shadow: 0px 0px 5px black;
    ">
  <% @spending_size = 100-((@wallet_current.to_f/@wallet_full)*100) %>

  <% if @spending_size > 100 %>
  <%      @color = "red"%>
  <% else %>
  <%      @color = "green"%>
  <%  end %>



    <div style="
    background-color:<%=@color%>;
    width:<%=@spending_size%>%;
    height:20px;"/>
    </div>